{% extends "layout.html" %}
{% block title %}SmartHome - Login{% endblock %}
{% block content %}
<div class="row justify-content-center">
  <div class="col-12 col-md-8 col-lg-6">
    <div class="card shadow">
      <div class="card-body">
        <h3 class="card-title text-center mb-4">SmartHome</h3>
        <h5 class="text-center text-muted mb-4">Control de Dispositivos IoT</h5>
        <form method="post">
          <div class="mb-3">
            <label class="form-label">Correo electrónico</label>
            <input name="email" type="email" class="form-control" autocomplete="email" required>
          </div>
          <div class="mb-3">
            <label class="form-label">Contraseña</label>
            <input name="password" type="password" class="form-control" autocomplete="current-password" required>
            <div class="text-center">
            <a href="{{ url_for('auth.forgot_password') }}">¿Olvidaste tu contraseña?</a>
          </div>
          </div>
          
          <button class="btn btn-primary w-100 mb-3">Iniciar sesión</button>
          <div class="text-center mt-2">
            ¿No tienes una cuenta? <a href="{{ url_for('auth.register') }}">Regístrate</a>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}
